$accent-color: #ccff00;
$bialy: #ffffff;
$czarny: #000000;
$szary: #ff98fa;

$link-color: #00f2ff;
$red-color: #ff0000;
$orange-color: #ffa500;
$inny-color: #090b13;
$green-color: #00ff00;

$ramka-color: #d1d5db;
$tabela-color: #fdfbf7;