@use "../abstracts/variables";

body {
  background-color: variables.$czarny;
}

#publiczne-posty,
#planowane-posty {
  display: flex;
  justify-content: space-evenly;
  flex-direction: wrap;
  gap: 20px;
}

